// Variables

$light-grey: #ccc;
$dark-grey: #222;
$orange: #FF7963;
$grey-dark: #4B484B;
$black: #000;
$white: #fff;
$yellow: #ffd710;

$btn-width: 250;
$btn-height: 80px;
$btn-full: $btn-height+$btn-width;
$btn-half: $btn-full/2;
$bg-color: #eeeeee;


$text-color: $orange;

// You can use varibales inside variables
$primary: $black;
$secondary: $yellow;


// Font families

@import url(https://fonts.googleapis.com/css?family=Merriweather);
